@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);


body{
    background-color: #338eda;
    margin-left: 25%;
    margin-right: 25%;
}

h1{
    padding-left: 1rem;
    font-size:  4rem;
}

h2{
    padding-left: 2rem;
    font-size:  2rem;
}
a{
    text-decoration: none;
}
